.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex__split{
  flex-basis: 50%;
  flex: .5;
}
.align-items-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.brand__name{
  color: rgb(58, 56, 56);
  letter-spacing: 1.2px;
  transition: all .8s;
  transform: scale(1);
}
.brand__name:hover{
  transform: scale(1.09);
  transform-origin: bottom;
  transition: all .8s;
}
.product__heading{
  color: rgb(111, 1, 255);
  overflow: hidden;
  max-height: 70px;
  transition: all .8s;
  transform: scale(1);
}
.price__span{
  color: rgb(3, 3, 3);
  font-weight: bold;
}
.price__wrapper{
  display: flex;
  margin-top: 15px;
  align-items: center;
  transition: all .8s;
  transform: scale(1);
}
.price__wrapper:hover{
  transform: scale(1.05);
  transition: all .8s;
}
.price__span{
  font-style: italic;
}
.product__heading:hover{
  transform: scale(1.09);
  transform-origin: left;
  transition: all .8s;
}
.p-20{
  padding: 20px;
}
.gray_bg{
  background: rgb(247, 245, 255);
  transition: all .8s;
  /* background: linear-gradient(157deg, rgba(103,66,249,1) 0%, rgba(56,7,116,0.6867121848739496) 100%); */
}
.gray_bg:hover {
  background: linear-gradient(157deg, rgba(103,66,249,1) 0%, rgba(56,7,116,0.6867121848739496) 100%);
transition: all .2s;
}
.gray_bg:hover * {
  transition: all .8s;
  color: white !important; 
  /* I'm sorry, it's 3AM in the morning. */
}
.rounded__corner{
  border-radius: 20px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 70%;
}
.round{
  border-radius: 40px;
}
@media (max-width: 768px) {
  .rounded__corner{
    border-radius: 20px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 40%;
  }
  .product__heading{
    max-height: 100%;
  }
  
  /* TODO: Refactor to utilize flexbox for equal item height distribution */
}